APP_ENV=development
APP_PORT=3005
APP_NAME="NestJS API"
FRONTEND_DOMAIN=
BACKEND_DOMAIN=
FRONTEND_ORIGIN=

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA
DATABASE_KEY=
DATABASE_CERT=

# Fixer api credentials
FIXER_BASE_URL="http://data.fixer.io/api"
FIXER_API_KEY=

# Websocket namespace
WEBSOCKET_NAMESPACE="transactions"

# IP registery
IPREGISTRY_API_URL="https://api.ipregistry.co/"
IPREGISTRY_API_KEY=

# Redis Url
REDIS_URL="redis://127.0.0.1:6379"
SYSTEM_SETTING_CACHE_TTL=300

# Quantoz Credentials
QUANTOZ_BASE_URL=
QUANTOZ_CALLBACK_BASE_URL=

# Quantoz Details
QUANTOZ_MERCHANT_CODE=
QUANTOZ_PAYMENT_METHOD_CODE_PAYIN=
QUANTOZ_PAYMENT_METHOD_CODE_PAYOUT=
QUANTOZ_MERCHANT_ACCOUNT_CODE=
QUANTOZ_MERCHANT_CUSTOMER_CODE_PAYIN=
QUANTOZ_MERCHANT_CUSTOMER_CODE_SIMULATE_PAYOUT=
QUANTOZ_MERCHANT_CUSTOMER_CODE_SIMULATE_PAYIN=

# Quantoz Account Codes per Crypto Currency
QUANTOZ_ACCOUNT_CODE_BTC=
QUANTOZ_ACCOUNT_CODE_ETH=
QUANTOZ_ACCOUNT_CODE_LTC=
QUANTOZ_ACCOUNT_CODE_ALGO=
QUANTOZ_ACCOUNT_CODE_XLM=
QUANTOZ_ACCOUNT_CODE_USDC_ETH=

# Crypto Wallet Addresses (used as fallback when simulation is enabled)
BTC_ADDRESS=
ALGO_ADDRESS=
LTC_ADDRESS=
XLM_ADDRESS=
ETH_ADDRESS=
USDC_ETH_ADDRESS=

# Swagger
SWAGGER_BASE_PATH=""
SWAGGER_USER=
SWAGGER_PASSWORD=